<h1>Project Forum Main Page</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <% if logged_in? %>
           <tr>
            <td><%= link_to 'Enter Project Forum', @topics %></td>   </tr>
            <% if @is_owner %>
          <tr><td><%= link_to 'Edit', edit_topic_path(@topics) %></td></tr>
          <tr> <td><%= link_to 'Admin Panel', users_path %></td> </tr>
            <% else %>
          <tr><td><%= link_to 'User Panel', users_path %></td></tr>
            <% end %>
        <% else %>
      <tr> <td>Register to Enter Project Forum</td> </tr>
        <% end %>

      </tr>
  </tbody>
</table>

<br>
